{%extends 'base.html'%}
<body>
  {% block contents %}
  <br>
    <div class="container">
        <form action="{%url 'create'%}">
            <h4>제목: </h4>
            <input class="form-control" type="text" name="title" placeholder="제목을 입력하세요">
            <br>
            <br>
            <h4>본문: </h4>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="10" placeholder="내용을 입력하세요"></textarea>
            <br>
            <br>
            <input class ="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>
  {% endblock %}
</body>